body {
	font-size: 100%;
	line-height: 1.5em;
	margin-top: 1em;
	margin-left: 1em;
}

p {
	margin-bottom: 0.7em;
	width: 55%;
}

code {
	color: #aaa;
}


ul {
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}


h2 {
	color: #bc412b;
	margin-top: 3em;
	top: 1.4em;
}

h3 {
	top: 1.7em;
}



#webaddress {
	color: #bc412b;
}

em {
	font-style: italic;
}



#address {
	display: none;
}